/* You can add global styles to this file, and also import other style files */
$fa-font-path: "~font-awesome/fonts"; 
@import "~bootstrap/scss/bootstrap"; 
@import "~font-awesome/scss/font-awesome";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";



@media screen and (min-width: 1300px) {
    .ng-sidebar {
        width: 15%; 
        height: 100%;
        display: flex;  
        flex-direction: column;
        align-content: flex-start;
        border: 1px solid lightgray;
    }
} 

@media screen and (max-width: 1300px) {
    .ng-sidebar {
        width: 193px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        border: 1px solid lightgray;
    }
}

.ng-sidebar::-webkit-scrollbar {
    width: 5px;
}

.ng-sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: auto; 
    box-shadow: auto;
    -webkit-border-radius: auto;
    border-radius: auto;
    background:auto;    
}

.ng-sidebar::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230); 
    -webkit-border-radius:auto;
    border-radius:auto;
    background:auto; 
    -webkit-box-shadow:auto; 
    box-shadow: auto
}

.ng-sidebar::-webkit-scrollbar-thumb:window-inactive {
    background: auto;
}
