<div class="wrapper">
    <div>
        <br>
        <div id="category">
            <p>Event category</p>
            <mat-form-field>
                <mat-select placeholder="Categories" [formControl]="categories" multiple (selectionChange)="categorySelected($event.value)">
                    <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br><br>

        <div id="slider">
            <p>Latest start time: {{formatLabel(slider.value)}}</p>
            <mat-slider (focusout)="saveLatestStartTime()" #slider [formControl]="sliderx" thumbLabel [displayWith]="formatLabel" tickInterval="10" min="10" max="240"></mat-slider>
        </div>
    </div>

    <div class="space"></div>

    <img id="add" src="/assets/add.svg">
</div>