.wrapper {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#category {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

p {
    margin: 0px;
    padding: 11px;
    font-weight: bold;
    display: block;
}

mat-form-field {
    width: 80%;

}




#slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-slider {
    width: 85%;
  }




  .space {
    flex-grow: 1
}



#add {
    height: 60px;
    width: 60px;
    margin-bottom: 60px;
    margin-top: 40px;
}
