.wrapper {
  height: 100vh;
  position: relative;
}


mat-sidenav {
  width: 240px;
}

.sidebar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 100%;
}

.categorieSetup {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
}

app-navbar {
  position: absolute;
  height: 8vh;
  width: 100%;
}

.sidebarContainer {
  position: absolute;
  height: 92%;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
}



@media screen and (max-height: 664px) {
  .wrapper {
    height: 100vh;
    position: relative;
  }
  
  
  mat-sidenav {
    width: 240px;
  }
  
  .sidebar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
  }
  
  .categorieSetup {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
  }
  
  app-navbar {
    position: absolute;
    height: 14vh;
    width: 100%;
  }
  
  .sidebarContainer {
    position: absolute;
    height: 86%;
    top: 14%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
  }
}