.myInnerContainer{
  flex-grow: 1;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

ng-sidebar-container {
  height: 92%;
  position: absolute;
  top: 8%;
}

.wrapper {
  height: 100vh;
}

app-navbar {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 8%;
}

app-sidebar-categories {
  width: 100%;
}

app-sidebar-events {
  width: 100%;
  flex-grow: 1;
  position: relative;
}