<nav class="navbar navbar-expand-sm navbar-light main-nav navbar-top">
  <div class="container-fluid">
    <a class="navbar-brand title" routerLink="/home">{{title}}</a>
    <ul class="navbar-nav ">

      <li *ngIf="!userService.isAuthenticated">
        <div class="myContainer">
          <app-modal [component]="signInComponent">
            <button type="button" class="btn btn-outline-danger">Login</button>
          </app-modal>
        </div>
      </li>

      <li *ngIf="userService.isAuthenticated">
        <div class="myContainer">
          <button type="button" class="btn btn-outline-secondary">Profil</button>
        </div>
      </li>
      <li *ngIf="userService.isAuthenticated">
        <div class="myContainer" routerLink="/users/sign-out" routerLinkActive="active" tabindex="-1">
          <button type="button" class="btn btn-outline-danger">Logout</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
