.spanSpace{
    margin-left:10px;
    color:black;
}

.title{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 2.0em;
}

.main-nav{
    border-bottom:0.5px solid lightgray;
    padding-bottom:10px;
}

.navItem-hover:hover{
    .icons{
        color: rgb(100,100,100);
    }
    .spanSpace{
        color:rgb(100,100,100);
    }
}



.navbar {
    height: 100%;
}

.myContainer {
    height: 100%;
    width: 130px;
    font-size: 23px;
    margin-left: 15px;
    cursor: pointer;
}

.myImg {
    height: 40px;
    width: 40px;
}

span {
    padding-left: 5px;
    
}

@media screen and (max-width: 580px) {
    .myContainer {
        height: 100%;
        width: 120px;
        font-size: 18px;
    }

    .myImg {
        height: 25px;
        width: 25px;
    }
}


.btn-outline-danger {
    border-radius: 20px;
    width: 120px;
    height: 44px;
    border: 2px solid;
    font-size: 18px;
    border: 2px solid #eb008d;
    color: #eb008d;
}

.btn-outline-danger:hover {
    background-color: #eb008d;
    color: white;
}

.btn-outline-danger:active {
    background-color: white !important;
    color: #eb008d !important;
    border: 2px solid #eb008d !important;
}

.btn-outline-danger:focus {
    box-shadow: 0 0 0 0 !important;
}

.btn-outline-secondary {
    border-radius: 20px;
    width: 120px;
    height: 44px;
    border: 2px solid;
    font-size: 18px;
}