<nav class="navbar navbar-expand-sm navbar-light main-nav navbar-top">
  <div class="container-fluid">
    <a class="navbar-brand title" routerLink="/home">{{title}}</a>
    <ul class="navbar-nav ">
      <li *ngIf="!userService.isAuthenticated">
        <div class="myContainer">
          <app-modal [component]="signInComponent">
            <img src="/assets/login.svg" class="myImg">
            <span>Login</span>
          </app-modal>
        </div>
      </li>
      <li *ngIf="userService.isAuthenticated">
        <div class="myContainer">
          <img src="/assets/profil.svg" class="myImg">
          <span>Profil</span>
        </div>
      </li>
      <li *ngIf="userService.isAuthenticated">
        <div class="myContainer" routerLink="/users/sign-out" routerLinkActive="active" tabindex="-1">
          <img src="/assets/logout.svg" class="myImg">
          <span>Logout</span>
        </div>
      </li>
    </ul>
  </div>
</nav>