.sidebarToggler {
    height: 100%;
    width: 2vw;
    position: fixed;
    z-index: 1000;
}

.sidebarToggler:hover {
  background-color:#DCDCDC;
  opacity: 0.7;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
}

div i {
  position: absolute;
  top: 40%;
  left: 7px;
  font-size: 55px;
  opacity: 1.0;
}

i:hover {
  opacity: 1.0;
}