<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <span class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </span>
</div>
<div class="modal-body">
  <div class="container">
    <button (click)="facebookSignInClicked()" class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i
        class="fab fa-facebook-f mr-2"></i>
      Sign in with Facebook</button>
    <br><br>
    <button (click)="googleSignInClicked()" class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i
        class="fab fa-google mr-2"></i>
      Sign in with Google</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>