<div (click)="focusMe('allergen')" id="firstItem" routerLink="/main/allergen" routerLinkActive="active" tabindex="-1" class="item"
      [class.selected]="isMenuPointSelected('allergen')">
      <button #allergen type="button" class="btn btn-secondary my-btn">
        <img src="/assets/peanut.svg" class="imgPenguin">
        <span>Allergen</span>
      </button>
    </div>

    <div (click)="focusMe('meal')" routerLink="/main/meal" routerLinkActive="active" tabindex="-1" class="item" [class.selected]="isMenuPointSelected('meal')">
      <button #meal type="button" class="btn btn-secondary my-btn">
        <img src="/assets/chicken.svg" class="imgPenguin">
        <span>Meal</span>
      </button>
    </div>

    <div (click)="focusMe('menu')" routerLink="/main/menu" routerLinkActive="active" tabindex="-1" class="item" [class.selected]="isMenuPointSelected('menu')">
      <button #menu type="button" class="btn btn-secondary my-btn">
        <img src="/assets/menu.svg" class="imgPenguin">
        <span>Menu</span>
      </button>
    </div>

    <div (click)="focusMe('pdf_service')" routerLink="/main/pdf-service" routerLinkActive="active" tabindex="-1" class="item" [class.selected]="isMenuPointSelected('pdf-service')">
      <button #pdf_service type="button" class="btn btn-secondary my-btn">
        <img src="/assets/pdf-file.svg" class="imgPenguin">
        <span>PDF-Service</span>
      </button>
    </div>