.imgHomeOffice{
    width: 100%;
    height:auto;
    opacity: 0.9;
    z-index: 0;
}
.homeLogo{
    width:  120px;
    height: 120px;
}
.jumbotron{
    margin-bottom: 0px;
}

app-navbar {
    position: absolute;
    height: 8vh;
    width: 100%;
    background-color: white;
}